export TEC_LIBRARY="~/teco/lib/"
export TEC_INIT="$~/teco/teco.ini"
export TEC_MEMORY="$~/teco/teco.mem"
export VISUAL=t
export EDITOR=t
export LESSEDIT="%E %f"
export LESS='-RS#3NM~g'
autoload edit-command-line; zle -N edit-command-line
bindkey -v
bindkey -M vicmd '\e' edit-command-line
